{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Index
            <!-- <small>Subheading</small> -->
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/index">Index</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Index
            </li>
        </ol>
    </div>
    En esta plataforma Ud. podrá visualizar en tiempo real el comportamiento de la turbina
    mediante un análisis de gráficos.<br>
    Más adelante, una vez que ya tenga suficientes datos recopilados
    se extrapolará la función de manera que
    este software<br>
    permitirá simular casos ficticios mediante un simple reemplazo de variables.<br>
</div>
{% endblock %}
