{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Index
            <!-- <small>Subheading</small> -->
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/index">Index</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Midiendo
            </li>
        </ol>
    </div>
    El equipo está realizando mediciones en este momento
</div>
{% endblock %}
